# Tuple

In [25]:
tup=4,5,6
tup

(4, 5, 6)

In [3]:
tuple('string')

('s', 't', 'r', 'i', 'n', 'g')

In [4]:
tup=(['foo',[1,2,3],True])
tup

['foo', [1, 2, 3], True]

In [7]:
tup[1].append(5)
tup

['foo', [1, 2, 3, 4, 4, 5], True]

In [8]:
tup=4,5,(6,7)

In [9]:
a,b,(c,d)=tup

In [10]:
d

7

In [11]:
c

6

In [14]:
seq=[(1,2,3),(4,5,6),(7,8,9)]

In [18]:
for a,b,c in seq:
    print('a={0},b={1},c={2}'.format(a,b,c))

a={0},b={1},c={2}
a={0},b={1},c={2}
a={0},b={1},c={2}

In [20]:
values=1,2,3,4,5

In [22]:
a,b,*rest=values

In [23]:
rest

[3, 4, 5]

In [24]:
values

(1, 2, 3, 4, 5)

# List

In [26]:
a_list=[2,3,7,None]
a_list

[2, 3, 7, None]

In [27]:
tup=(4,5,6)
b_list=list(tup)
b_list

[4, 5, 6]

In [28]:
list(tup)

[4, 5, 6]

In [29]:
gen=range(10)

In [30]:
gen

range(0, 10)

In [31]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [32]:
list(range(1,4))

[1, 2, 3]

In [34]:
c_list=list(range(5,8))
c_list

[5, 6, 7]

In [36]:
d_list=['a','b','e','h']
d_list

['a', 'b', 'e', 'h']

In [39]:
d_list.remove('a')
d_list

['b', 'e', 'h']

In [45]:
d_list=['b','e','h']
d_list.remove('e')
d_list

['b', 'h']

In [46]:
'b' in d_list

True

In [47]:
'e' not in d_list

True

In [49]:
x=[1,2,3]
x

[1, 2, 3]

In [51]:
x.extend([0,6,7])
x

[1, 2, 3, 5, 6, 7, 0, 6, 7]

In [53]:
x.sort()
x

[0, 1, 2, 3, 5, 6, 6, 7, 7]

In [54]:
y=['aa','b','ccc']
y.sort(key=len)
y

['b', 'aa', 'ccc']

In [55]:
import bisect
bisect.bisect(x,2)

3

In [56]:
bisect.bisect(x,0)

1

In [57]:
bisect.bisect(x,1)

2

In [58]:
bisect.bisect(x,10)

9

In [59]:
x

[0, 1, 2, 3, 5, 6, 6, 7, 7]

In [62]:
bisect.bisect(x,100)

9

In [63]:
x=[4,6,2,8,2,9,1,0]
bisect.insort(x,3)
x

[4, 6, 2, 8, 2, 9, 1, 0, 3]

In [64]:
x.sort()
x

[0, 1, 2, 2, 3, 4, 6, 8, 9]

In [65]:
bisect.insort(x,3)
x

[0, 1, 2, 2, 3, 3, 4, 6, 8, 9]

In [66]:
x[::-1]

[9, 8, 6, 4, 3, 3, 2, 2, 1, 0]

# 내장순차자료형함수

In [85]:
some_list=['foo','bar','baz']
mapping={}

In [86]:
for i, v in enumerate(some_list):
    mapping[v]=i

In [87]:
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

In [78]:
mapping2={}
j=-1
for value in some_list:
    j+=1
    mapping2[value]=j

In [79]:
mapping2

{'foo': 0, 'bar': 1, 'baz': 2}

In [88]:
seq1=['d','s','h']
seq2=['y','e','i']

In [90]:
zipped=zip(seq1,seq2)
list(zipped)

[('d', 'y'), ('s', 'e'), ('h', 'i')]

In [95]:
for k,(a,b) in enumerate(zip(seq1,seq2)):
    print('{0}:{1}, {2}'.format(k,a,b))

0:d, y
1:s, e
2:h, i

In [99]:
pitchers=[('kim','lin'),('park','min'),('lee','hwa')]

In [100]:
first_names, last_names =zip(*pitchers)
first_names

('kim', 'park', 'lee')

# Dict

In [101]:
d1={'a':'some value','b':[1,2,3,4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [102]:
d1[7]='an integer'
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [103]:
del d1['a']
d1

{'b': [1, 2, 3, 4], 7: 'an integer'}

In [105]:
popped=d1.pop(7)

In [106]:
d1

{'b': [1, 2, 3, 4]}

In [107]:
popped

'an integer'

In [112]:
words=['apple','bar','cat','cool']
by_letter={}

for word in words:
    letter=word[0]
    if letter not in by_letter:
        by_letter[letter]=[word]
    else:
        by_letter[letter].append(word)

In [113]:
by_letter

{'a': ['apple'], 'b': ['bar'], 'c': ['cat', 'cool']}

In [118]:
by_letter2={}
for word in words:
    letter = word[0]
    by_letter2.setdefault(letter,[]).append(word)
by_letter2

{'a': ['apple'], 'b': ['bar'], 'c': ['cat', 'cool']}

In [126]:
from collections import defaultdict
def isDictionary(words):
    by_letter3=defaultdict(list)
    for word in words:
        by_letter3[word[0]].append(word)
    return by_letter3

In [127]:
isDictionary(words)

defaultdict(list, {'a': ['apple'], 'b': ['bar'], 'c': ['cat', 'cool']})

# Set

In [128]:
set([1,2,3,43,1,1,2,2])

{1, 2, 3, 43}

In [129]:
a={1,2,3,4,5}
b={6,7,8,9,3,2}
(a.union(b),a|b,a.intersection(b),a&b)

({1, 2, 3, 4, 5, 6, 7, 8, 9}, {1, 2, 3, 4, 5, 6, 7, 8, 9}, {2, 3}, {2, 3})

In [130]:
c={1,2}
(c.issubset(a),a.issubset(c))

(True, False)

# 표기법

In [133]:
strings =['a','as','bat','car','dove','python']
[x.upper() for x in strings if len(x)>2 ]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [134]:
unique_lengths={len(x) for x in strings}
unique_lengths

{1, 2, 3, 4, 6}

In [136]:
all_data=[['John','Emily','Michael','Mary','Steven'],
         ['Maria','Juan','Javer','Natalia','Pilar']]
result=[name for names in all_data for name in names if name.count('e')>=2]
result

['Steven']

# 함수

In [149]:
states=['Alabama','Georgia!','Georgia','georgia','  FlOrIda','south carolina##','west Virginia?']

In [151]:
import re
def clean_strings(strings):
    result=[]
    for value in strings:
        value=value.strip() #문자 양옆 공백 제거
        value=re.sub('[!#?]','',value) #필요한 문장부호 제거
        value=value.title() #대소문자 맞추기
        result.append(value)
    return result
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South Carolina',
 'West Virginia']

In [152]:
def remove_puctuation(value):
    return re.sub('[!#?]','',value)

In [153]:
clean_ops=[str.strip,remove_puctuation,str.title]
def clean_strings(strings, ops):
    result=[]
    for value in strings:
        for function in ops:
            value=function(value)
        result.append(value)
    return result

In [154]:
clean_strings(states,clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South Carolina',
 'West Virginia']

In [156]:
#람다함수
def apply_to_list(some_list, f):
    return[f(x) for x in some_list]

ints=[4,0,1,5,6]
apply_to_list(ints, lambda x:x*2)

[8, 0, 2, 10, 12]

In [157]:
strings=['foo','card','bar','aaaa','abab']
strings.sort(key=lambda x : len(set(list(x))))
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

In [159]:
#커링
def add_nums(x,y):
    return x+y
add_five=lambda y:add_nums(5,y)
add_five(3)

8

In [170]:
#제너레이터

def squares(n):
    print('Generating squares froms 1 to {0}'.format(n**2))
    for i in range(1,n+1):
        yield i**2

In [171]:
gen=squares(10)
gen

In [172]:
for x in gen:
    print(x, end=' ')

Generating squares froms 1 to 100
1 4 9 16 25 36 49 64 81 100

In [173]:
dict((i,i**2) for i in range(5))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [178]:
#예외처리

def attempt_float(x):
    try: 
        return float(x)
    except (TypeError,ValueError):
        return x
attempt_float('something')

'something'